.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #1f2937;
  color: white;
}

.header__logo {
  font-size: 24px;
  font-weight: bold;
}

.header__navigation {
  display: flex;
  gap: 20px;
}

.header__navigation-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
