.sidebar {
    background-color: #212121;
    color: white;
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .sidebar li {
    margin: 10px 0;
  }
  
  .sidebar a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .sidebar a:hover {
    text-decoration: underline;
  }
  